html {
  background: $color-primary;
}

body {
  color: $color-light;
  
  
}

header {
  @include flex(row, between);
}

main {
  @include flex(column, center);
  padding: 0 1rem;
  height: 80vh;
}


article {
  @include flex(column, around);
  border-radius: 10px;
}

form {
  @include flex(column, space);
}

button {
  @include flex(column, center);
  transition: 500ms;
  border: $color-secondary 1.5px solid;
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
  color: $color-light;
  &:hover {
    @include opacity($color-secondary, -0.5);
    transition: 500ms;
    text-shadow: 0 0 1.5px $color-light;
    border: $color-light 1.5px solid;
  }
}

h1 {
  @include heading;
}

h2 {
  @include subheading;
}

h3 {
  @include paragraph;
}

p {
  @include paragraph;
}

a {
  color: $color-light;
}