/* ==========================================================================
Pages - HomePage | Components - main header, search bar, question form 
========================================================================== */

.home-page {

  /* ===== Scrollbar ===== */
  * {
    scrollbar-width: thin;
    scrollbar-color: $color-secondary $color-tertiary;
  }
  *::-webkit-scrollbar {
    width: 1rem;
  }
  *::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-inline: 0.5rem;
  }
  *::-webkit-scrollbar-thumb {
    background: $color-secondary;
    opacity: 1;
    border-radius: 100vw;
    max-height: 1rem;
    border: 0.25rem solid $color-tertiary;
    &:hover {
      border-color: $color-secondary;
    }
  }
}