/* ==========================================================================
Pages - HomePage | Components - main header, search bar, question form 
========================================================================== */

/* === main header === */

.main-header {
  @include flex(row, center);
  .logo {
    @include mediaQueries(logo);
    transition: 1s;
    margin: 0 0 0.5rem 0.5rem;
  }
}

/* === search bar === */

.search-bar {
  width: 60%;
  padding: 0.3rem;
  margin-top: 1.5rem;
  place-self: center;
  top: 10%;
  right: 1rem;
  border-radius: 7px;
  text-align: center;
  font-family: $ff-secondary;
}

.cards-container {
  @include mediaQueries(grid);
  width: 100%;
  padding: 0;
  overflow-y: scroll;
  overflow-x: none;
  gap: 1rem;
  margin-top: 1rem;
  min-height: 50%;
}

/* === question form === */

.question-form {
  min-width: 3rem;
  width: 70%;
  margin-bottom: 1.2rem;
  margin-top: 5rem;
  a {
    place-self: flex-end;
  }
}

.question {
  margin: 1rem;
}

.submitAnswer {
  @include button;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: auto;
}

.answer-input {
  width: 100%;
  min-height: 5rem;
  height: 10rem;
  text-align: center;
  resize: none;
  padding: 1rem;
  font-family: $ff-secondary;
}

.question-header {
  @include flex(row, center);
  margin-bottom: 0.1rem;
}

.shuffle-btn {
  width: 54px;
  height: 35px;
  display: flex;
  place-self: flex-end;
  margin: 0 0 0.5rem 0;

  .shuffle-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.submit-btn {
  opacity: 1;
  width: 70px;
  height: 30px;
  place-self: flex-end;
  margin: 10px 0px 10px 0px;
  transition: 1s;
  &:hover {
    background: $color-secondary;
  }
  &:disabled {
    cursor: auto;
    opacity: 0;
    transition: 900ms;
    transform: scale(0.5);
  }
}

.gold-btn {
  transition: 1s;
  transform: scale(1.1);
  border: 1.5px solid $color-secondary;
  &:hover {
    border: 1.5px solid $color-secondary;
  }
}

.char-counter {
  display: flex;
  justify-content: flex-end;
}

/* === question card === */

.question-card {
  height: 80%;
  width: 20rem;
  @include opacity($color-secondary, -0.2);
  box-shadow: 3px 3px 10px grey;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem;
  transition: 300ms;
  font-family: $ff-secondary;
  &:hover {
    transition: 300ms;
    transform: scale(1.02);
    box-shadow: 3px 3px 10px $color-secondary;
  }
}

.view-details-btn {
  padding: 0.3rem 1rem;
  color: $color-light;
}
