.answer {
  @include opacity($color-tertierary, -0.5);
  width: clamp(16rem, 25vw, 30rem);
  height: clamp(12rem, 25vh, 30rem);
  margin: 1rem 0;
  box-shadow: 3px 3px 10px $color-grey;
  padding: 1rem; 
  overflow-y: scroll;
  
  font-family: $font-family-secondary;
  animation: 2s fade-in;
  
  .answer-header {
    @include flex(row, around);
    align-self: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    .like-btn {
      padding: .3rem 1rem;
      &:hover {
        background: inherit;
        box-shadow: 0 0 5px  $color-quaternary;
      }
    }
  }
  .answer-block{
    animation: 3.5s fade-in;
    overflow-y: scroll;
    margin-bottom: auto;
    line-height: 1.7;
  }
}

.disabled-vote {
  opacity: 0.6;
  cursor: not-allowed;
  &:hover {
    background-color: rgb(206, 103, 103);
    color: white;
  }
}
