.logo {
    @include mediaQueries(logo);
    transition: 1s;
    margin: 0 0 0 .5rem;
}

.nav-bar {
    height: 8rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}