.question-card {
    height: 80%;
    width: 20rem;
    @include opacity($color-dark, -0.7);
    box-shadow: 3px 3px 10px  $color-secondary;
    border-radius: 10px;
    padding: .5rem;
    text-align: center;
    margin: 1rem;
    transition: 300ms;
    &:hover {
        transition: 300ms;
        transform: scale(1.02);
        box-shadow: 3px 3px 10px  $color-secondary;
    }
}

.view-details-btn {
   padding: .3rem 1rem;
}