.question-card {
    height: 20rem;
    width: 20rem;
    border: 1px solid grey;
    padding: .5rem;
    text-align: center;
    margin: 1rem;
    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 10px 13px 4px #888;
        border: none;
        overflow: none;
    }
}


h3 {
    color: black;
}

p {
    color: black;
}

.view-details-btn {
   padding: .3rem 1rem;
}