.main-header {
  position: relative;
  background: $color-secondary;
  padding-bottom: .3rem;
  width: 100%;
  height: 20vh;
  .view-all-btn, .random-btn {
    @include button;
  }
}

h1 {
  margin-left: 20px;
}

.view-all-btn {
  margin-right: 2rem;
  height: 45px;
}

.random-btn {
  margin-right: 2rem;
}