.question-form {
  min-width: 3rem;
  border: pink 1px solid;
}

.question {
  margin: 1rem;
}

.submitAnswer {
  @include button;
  padding: .5rem;
  margin-top: 1rem;
  margin-left: auto;
}

.shuffle {
  display: flex;
  place-self: flex-end;
}

.answerInput {
  width: 100%;
  > [type='text'] {
    width: 100%;
    min-height: 5rem;
    height: 10rem;
    background: beige;
    text-align: center;
  }
}

.question-header {
  @include flex(row, center)
}