.search-bar {
    width: 60%;
    padding: .3rem;
    margin-top: 1.5rem;
    place-self: center;
    top: 10%;
    right: 1rem;
    border-radius: 7px;
    text-align: center;
}

// .questions-container {
//     height: 70%;
//     width: 100vw;
// }

.cards-container {
    @include mediaQueries(grid);
    // background: $color-primary;
    width: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: none;
    gap: 1rem;
    margin-top: 1rem;
    min-height: 50%;
}