.question-form {
  min-width: 3rem;
  width: 70%;
  margin-bottom: 1.2rem;
  margin-top: 3rem;

   a {
     place-self: flex-end;
    // margin-bottom: 1rem;
   }
}

.question {
  margin: 1rem;
}

.submitAnswer {
  @include button;
  padding: .5rem;
  margin-top: 1rem;
  margin-left: auto;
}

.answer-input {
    width: 100%;
    min-height: 5rem;
    height: 10rem;
    text-align: center;
    resize: none;
    padding: 1rem;
}

.rainbow { 
   /* Font options */
   /* Adding a background color to change in the first place
    was the trick all along!
    */
   background-color: white;
   color: goldenrod;
   font-family: 'Arial', sans-serif;
   text-shadow: 2px 2px 4px #ffffff;
   font-size:40px;

   /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 5s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 5s infinite;
   
   /* Standar Syntax */
   animation: rainbow 5s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{background-color: orange;}	
   10%{background-color: purple;}	
   20%{background-color: red;}
   30%{background-color: CadetBlue;}
   40%{background-color: yellow;}
   50%{background-color: coral;}
   60%{background-color: green;}
   70%{background-color: cyan;}
   80%{background-color: DeepPink;}
   90%{background-color: DodgerBlue;}
   100%{background-color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{background-color: orange;}	
   10%{background-color: purple;}	
   20%{background-color: red;}
   30%{background-color: CadetBlue;}
   40%{background-color: yellow;}
   50%{background-color: coral;}
   60%{background-color: green;}
   70%{background-color: cyan;}
   80%{background-color: DeepPink;}
   90%{background-color: DodgerBlue;}
   100%{background-color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{background-color: orange;}	
   10%{background-color: purple;}	
   20%{background-color: red;}
   30%{background-color: CadetBlue;}
   40%{background-color: yellow;}
   50%{background-color: coral;}
   60%{background-color: green;}
   70%{background-color: cyan;}
   80%{background-color: DeepPink;}
   90%{background-color: DodgerBlue;}
   100%{background-color: orange;}
 }

.question-header {
  @include flex(row, center);
  margin-bottom: 0.1rem;
}

.shuffle-btn {
  width: 54px;
  height: 35px;
  display: flex;
  place-self: flex-end;
  margin: 0 0 .5rem 0;

  .shuffle-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.submit-btn {
  opacity: 1;
  width: 70px;
  height: 30px;
  place-self: flex-end;
  margin: 10px 0px 10px 0px;
  transition: 1s;
  &:hover {
    background: $color-secondary;
  }
  &:disabled {
    cursor: auto;
    opacity: 0;
  }
}

.gold-btn {
  transition: 1s;
  background: black;
  box-shadow: -1px 1px 11px 3px #f9df6a;
  transform: scale(1.1);
  color: #f9df6a;
  border: none;
    &:hover{
    box-shadow: -1px 1px 11px 2px $color-dark;
    border: none;
  }
}

.char-counter {
  display: flex;
  justify-content: flex-end;
}