.question-form {
  min-width: 3rem;
  width: 70%;

   a {
     place-self: flex-end;
    // margin-bottom: 1rem;
   }
}

.question {
  margin: 1rem;
}

.submitAnswer {
  @include button;
  padding: .5rem;
  margin-top: 1rem;
  margin-left: auto;
}

.answer-input {
    width: 80%;
    min-height: 5rem;
    height: 10rem;
    text-align: center;
}

.question-header {
  @include flex(row, center)
}

.shuffle-btn {
  width: 75px;
  height: 59px;
  display: flex;
  place-self: flex-end;

  .shuffle-icon {
    width: 1.5em;
    height: 1.5em;
  }
}

.submit-btn {
  opacity: 1;
  width: 70px;
  height: 30px;
  place-self: flex-end;
  margin: 10px 0px 10px 0px;
  transition: 1s;
  &:hover {
    background: green;
  }
  &:disabled {
    cursor: auto;
    opacity: 0;
  }
}

.gold-btn {
  background: gold;
  transform: scale(1.1);
}