.cards-container {
    @include mediaQueries(grid);
    background: $color-primary;
    width: 100%;
    padding: 0 5rem;
    overflow-y: scroll;
    gap: 1rem;
}

.search-bar {
    width: 20%;
    padding: .3rem;
    margin-top: 1.5rem;
    place-self: flex-end;
    position: absolute;
    top: 10%;
    right: 0;
}