.details-container {
  padding: 0 5rem;
  margin-top: 1rem;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  .question-header {
    @include flex(row, center);
    @include opacity($color-secondary, -0.5);
    margin-top: 1rem;
    border-radius: 5px;
    padding-left: 1rem;
    box-shadow: 3px 3px 10px  $color-secondary;
    height: 5rem;
    h2  {
      color: $color-light;
      margin: 1rem;
    }
  }
 
  .answers-container {
    @include mediaQueries(grid);
    height: 100%;
    overflow-y: scroll;
    border-radius: 0 0  5px 5px;
    padding: 0 3rem;
    
  }
  
    .return-btn {
      @include subheading;
      background-size: 1%;
      border-radius: 50%;
      align-self: flex-start;
      border: $color-secondary 3px solid;
      width: 3rem;
      height: 3rem;
      color: $color-quaternary;
      padding-left: .2rem; 
      &:hover {
        color: $color-secondary;
        background: $color-primary;
        border-color: $color-quaternary;
        box-shadow: 0 0 15px  $color-quaternary;
      }
    }
  }

.no-answers {
  place-self: center;
  font-size: 2rem;
}
