/* ==========================================================================
  Elements - Landmarks
========================================================================== */

body {
  position: relative;
  z-index: -2;
  padding: 0.5rem 1rem;
  border: black 2px solid;
  background: $white;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url('../../assets/images/paper-texture.jpg');
    inset: 0;
    opacity: 0.3;
  }
}

main {
  height: 85vh;
  overflow-y: scroll;
}

// Removes dropdown arrow
select {
  @include fonts(link);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  &:focus {
    outline: none;
  }
}
