/* ==========================================================================
  Elements - Typography
========================================================================== */

.body {
  @include fonts(medium);
  text-transform: uppercase;
}

:is(h1, h2, h3, h4, h5, h6, p, a, link, button) {
  @include fonts(medium);
  color: $black;
}

h1 {
  @include fonts(large);
  letter-spacing: 0.25rem;
  font-family: $ff-title;
}

h2 {
  @include fonts(medium);
}

h3 {
  @include fonts(medium);
}

p {
  @include fonts(small);
}

h4,
h5 {
  @include fonts(semi);
}
