/* ==========================================================================
  Elements - Defaults
========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
Link {
  text-decoration: none;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $ff-primary;
}

button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  text-transform: none;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-size: $fs-defaults;
  font-weight: $fw-defaults;
  font-style: $ff-defaults;
}
