/* ==========================================================================
  Elements - Landmarks
========================================================================== */

body {
  background-color: $color-primary;
  @include flex(column, space-around);
  overflow: hidden;
}

header {
  @include flex(row, space-around);
}

main {
  @include flex(row, space-around);
  min-width: 100vw;
}

article {
  @include flex(column, around);
}

button {
  border: unset;
}

