/* ==========================================================================
  Base - Font Face
========================================================================== */

@font-face {
	font-family: "Chomsky";
	src: url("../../assets/fonts/chomsky.woff2") format("woff2"), url("../../assets/fonts/chomsky.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
