/* ==========================================================================
Settings - Colors
========================================================================== */

/* === Palette === */
$color-primary: hsla(0, 71, 51, 1);
$color-secondary: hsla(74, 73, 29, 1);
$color-tertierary: hsla(180, 25, 25, 1);

/* === Nuetrals === */
$color-light: hsla(0, 0, 100, 1);
$color-dark: hsla(0, 0, 0, 1);
