/* ==========================================================================
Settings - Colors
========================================================================== */

/* === Palette === */
$color-primary: hsla(0, 0, 98%, 1);
$color-secondary: hsla(185%, 100%, 23%, 1);
$color-tertierary: hsla(175%, 36%, 69%,1);
$color-quaternary: hsla(15%, 100%, 91%, 1);
$color-quinary: hsla(16%, 65%, 68%, 1);
/* === Nuetrals === */
$color-light: hsla(0, 0, 100, 1);
$color-dark: hsla(0, 0, 0, 1);


