/* ==========================================================================
Settings - Colors
========================================================================== */

/* === Palette === */
$color-primary: #FCFCFC;
$color-secondary: hsla(185, 100%, 23%, 1);
$color-tertierary:rgb(148, 205, 200);
$color-quaternary: hsla(15, 100%, 91%, 1);
$color-quinary: hsla(16, 65%, 68%, 1);
/* === Nuetrals === */
$color-light: hsla(0, 0, 100, 1);
$color-dark: hsla(0, 0, 0, 1);


