/* ==========================================================================
Settings - Typography
========================================================================== */

/* === Font Import === */
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
/* === Defaults === */
$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$font-size-defaults: 1rem;
$font-style-defaults: normal;
$font-line-height-defaults: 1rem;
$font-weight-defaults: normal;
$font-style-defaults: normal;

/* === Font Size === */
$font-size-heading: 4rem, 5vw, 7rem;
$font-size-subheading: 1rem, 2vw, 2.5rem;     
$font-size-paragraph: 1rem, 1vw, 2.5rem;
$font-size-button: 1rem, 1.2vw, 2rem;
$font-size-icon: 1.5rem, 3vw, 3rem;

