/* ==========================================================================
Settings - Colors
========================================================================== */

// Main Colors
$black: hsla(0, 0%, 0%, 1);
$white: hsla(0, 0%, 100%, 1);

// Transparent Colors
$opaque-i: hsla(0, 0%, 0%, 0.8);
$opaque-ii: hsla(0, 0%, 0%, 0.5);
$opaque-iii: hsla(0, 0%, 0%, 0.3);
