/* ==========================================================================
Settings - Typography
========================================================================== */

// Font Size
$fs-tiny: clamp(0.72rem, 1.4vw, 1.8rem);
$fs-small: clamp(0.7rem, 1.3vw, 1.5rem);
$fs-link: clamp(1.1rem, 1.1vw, 1.5rem);
$fs-medium: clamp(1.25rem, 1.5vw, 1.5rem);
$fs-semi: clamp(1rem, 1.5vw, 1.8rem);
$fs-large: clamp(2rem, 5vw, 8rem);

// Font Weight
$fw-regular: 400;
$fw-bold: 700;

// Font Family
$ff-title: Chomsky;
$ff-primary: Georgia, "Times New Roman", Times, serif;
$ff-secondary: Arial;
