/* ==========================================================================
  Base - Grid
  ========================================================================== */

@mixin grid($viewport) {
	display: grid;
	justify-items: center;
	@if $viewport==mobile {
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem 1rem;
	} @else if $viewport==tablet {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem 2rem;
	} @else if $viewport==desktop {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem 4rem;
	}
}
