/* ==========================================================================
Base - Media Queries
========================================================================== */

/* ===  Trigger === */
@mixin mediaQueries($property) {
  @include mobile($property);
  @include tablet($property);
  @include desktop($property);
}

/* === Mobile === */
@mixin mobile($property) {
  @media only screen and (min-width: 250px) {
    @content;
    transition: 100ms;
    @if $property==grid {
      @include grid(mobile);
    } @else if $property==logo {
      transition: 1s;
      height: 8rem;
      width: 8rem;
      margin-bottom: 0 0.5rem 1rem 0;
    } @else if $property==vote-flex {
      @include flex(column, space-between);
    }
  }
}

/* === Tablet === */
@mixin tablet($property) {
  @media only screen and (min-width: 768px) {
    @content;
    transition: 100ms;
    @if $property==grid {
      @include grid(tablet);
    } @else if $property==logo {
      transition: 1s;
      height: 10rem;
      width: 10rem;
    } @else if $property==vote-flex {
      @include flex(row, space-between);
    }
  }
}

/* === Desktop === */
@mixin desktop($property) {
  @media only screen and (min-width: 1024px) {
    @content;
    transition: 100ms;
    @if $property==grid {
      @include grid(desktop);
    } @else if $property==logo {
      transition: 1s;
      height: 18rem;
      width: 18rem;
    } @else if $property==vote-flex {
      @include flex(row, space-between);
      margin: auto;
    }
  }
}
